h1 {
  color: blue;
  text-align: center;
}

p {
  font-family: sans-serif;
  colour: white;
}

ul {
  line-height: 70px;
}

body {
  margin: 0;
  background-color: red;
  background-image: url('back.gif');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 675px;
}

.main {
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.55;
  filter: alpha(opacity=60);
  text-align: center;
  margin-left: 20%;
  margin-right: 10%;
  margin-top: 5%;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a:hover {
  color: #GREY;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  margin-top: 10%;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }


#Answer {
  line-height: 50px;
  color: red;
}
